.header{
    display: flex;
    margin: 0%;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: bisque;


}

nav a{
    padding: 15px;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    background-color: white;

}

.iconos{

}
